nav {
    background: lightblue;
}

body {
    background: rgb(228, 220, 220);

}


.koleso {
    height: 40vw;
    width:  40vw;
    background: lightblue;
    margin: 0 auto;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.users_ctnr{
    display: flex;
    gap: 1em;
    flex-flow: wrap;
    width: 33vw;
}

.user_ctnr{
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: .25em;
    border-radius: .9em;
    font-weight: 600;
}

.message_blob_ctnr{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.inactive_queues_ctnr{
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.inactive_queue{
    border: 1px solid #000;
}