{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>
            Hello {{current_user.fname}}
        </h1>
        <h3>
            This is the admin page
        </h3>
        {% if queue %}
            <h2>
                Queue
            </h2>
            <div class="about">
                <p>
                    About this queue
                </p>
                <p>
                    Currently Processing: {{queue.processing}}
                </p>
                {% if processing_user %}
                    <p>
                        Currently Processing User: {{processing_user}}
                    </p>
                {% endif %}
                <p>
                    Category: {{queue.category}}
                </p>
                <p>
                    Title: {{queue.title}}
                </p>
                <p>
                    Queue ID: {{queue._id}}
                </p>
                <p>
                    Admin ID: {{queue.user_id}}
                </p>
                <p>
                    Count of users in the queue: {{queue.data.split('$') | length -1}}
                </p>
            </div>
            <div class="queue_list">
                {% if queue.data %}
                    {{process_previous_form(queue)}}
                    {{process_next_form(queue)}}
                {% endif %}
                <div class="users_ctnr">
                    {% for user in queue.data_as_users() %}
                        {% if user._id == processing_user._id %}
                            <div class="processing_ctnr">
                        {% elif queue.has_skipped(user._id) %}
                            <div class="skipped_ctnr">
                        {% else %}
                            <div class="user_ctnr">
                        {% endif %}
                            <p>
                                Position: {{loop.index -1}}
                            </p>
                            <p>
                                {{user.fname}}
                            </p>
                            <p>
                                {{user.email}}
                            </p>
                        </div>
                    {% endfor %} 
                </div>
            </div>
        {% else %}
            {{create_queue_form()}}
        {% endif %}
    </main>

{% endblock %}