{% extends 'base.html' %}


{% block title %}
    Home
{% endblock  %}

{% block content %}
    {% if current_user.is_authenticated %}
    <section>
        <form method="POST" action="{{url_for('api.add_to_queue')}}">
            <input
                type="text"
                name="user_id"
                id="user_id"
                value="{{current_user._id}}"
                hidden="true"
                readonly="true"
            >
            <button type="submit" class="btn btn-primary">
                Join Queue
            </button>
        </form>
    </section>
    {% else %}
    <a href="">
        Please login to join the queue
    </a>

    {% endif %}


    <div class="message_blob_ctnr">
        {% if message %}
            <p>
                Join the queue now at position {{position}}.
            </p>
        {% endif %}
        <div class="blob blue" id="koleso_home" >
            <p>
                {{position}}
            </p>
        </div>
    </div>
{% endblock %}


