{% extends 'base.html' %}

{% block content %}

<main>
    <h1>
        Queue Positioned Page
    </h1>
    <p>
        {{queue.title}}
    </p>
    <p>
        {{queue.category}}
    </p>
    <p>
        Queue ID: {{queue._id}}
    </p>
    <p>
        User ID: {{user_id}}
    </p>

    <div class="message_blob_ctnr">
        <div class="blob blue" id="koleso_home" >
            <p
                id="position_p"
                data-user_id="{{user_id}}"
                data-queue_id="{{queue._id}}"
            >
                {{position}}
            </p>
        </div>
        <script src="{{url_for('static', filename='js/assets/three.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/position_checker.js')}}"></script>
    </div>

</main>

{% endblock %}