{% extends 'base.html' %}

{% block content %}

<main>
    <section id="superadmin_section">
        <div>
            <h1>
                Create Administrator Code
            </h1>
            {{create_admin_code_form()}}
        </div>
        
        <div>
            <h1>
                Create Temporary User
            </h1>
            {{create_temporary_page_form(token_hex(6), '49309830583')}}
        </div>



        <div class="admins_ctnr">
        <h1>
            Admins currently in the database
        </h1>
            {% for admin in admins %}
                <div class="admin">
                    <p>
                        {{admin._id}}
                    </p>
                    <p>
                        {{admin.fname}}
                    </p>
                    <p>
                        {{admin.email}}
                    </p>
                    {{delete_admin_form(admin._id)}}
                </div>
            {% endfor %}
        </div>

    </section>
</main>

{% endblock %}