{% extends 'base.html' %}

{% block content %}

<main>
    <h1>
        This is the Temporary Page
    </h1>
    <a
        href="{{qrcode(url_for('main.queue_user_positioned', user_id=user_id, queue_id=queue_id))}}"
        download="qrcode.png">
        <img
            src="{{qrcode(url_for('main.queue_user_positioned', user_id=user_id, queue_id=queue_id))}}"
            alt="qr code"
        >
    </a>
    <br>
    <br>
    <h1>
        This QR works with the static ip address 
    </h1>
    <p>
        will likely break when domain name is established
    </p>
    <img
        src="{{ qrcode(META['static_ip'] + url_for('main.queue_user_positioned', user_id=user_id, queue_id=queue_id)) }}"
        alt="qr code"
    >
    <p>
        click the image to download the qr code
    </p>
    <div class="queue_model_ctnr">
        <h1>
            Information about the Queue
        </h1>
        <p>
            ID: {{queue._id}}
        </p>
        <p>
            Title: {{queue.title}}
        </p>
        <p>
            Count of Users: {{queue.get_next_opening() - 1}}
        </p>
        <p>
            Position: {{position}}
        </p>
    </div>

</main>

{% endblock %}