{% extends 'base.html' %}

{% block content %}

<main>
    <h1>
        These are the Queues You're In
    </h1>
    <div class="user_queues_ctnr">
        {% if queues %}
            {% for queue in queues %}
                <div class="user_queue">
                    <p>
                        Queue ID: {{queue._id}}
                    </p>
                    <p>
                        Title: {{queue.title}}
                    </p>
                    <p>
                        Category: {{queue.category}}
                    </p>
                    <p>
                        Your positon: {{queue.get_user_position(user_id)}}
                    </p>
                    <a href="{{url_for('main.temporary_page', user_id=user_id, queue_id=queue._id)}}">Go To QR Code Page</a>
                </div>
                <br>
            {% endfor %}
        {% else %}
                <p>
                    You haven't joined any queues yet
                </p>
        {% endif %}
        </div>


</main>




{% endblock %}